.root {
	-fx-background-color:"deepskyblue";
}

.label {
	-fx-font-family:"Lucida Console";
	-fx-text-fill:"black";
}

.button {
	-fx-background-color:"gray";
	-fx-font-family:"Times New Roman";
}

.table-column {
	-fx-font-family:"Lucida Console";
	-fx-font-size: 10;
}

#loginTitle {
	/*-fx-font-family:"Courier New"*/
}

